API_ID=28189487
API_HASH=788d8bcc5560a52fcd70a1e244ef1183
API_KEY=xbit_e40oXFazWDFy6rLPPICI1M8KdlW-91Dc
BOT_TOKEN=8480036953:AAFMf8HAil1Yip0unSp2jq9DUnXENFgQC48
LOG_GROUP_ID=-1002449002501
MONGO_DB_URI=mongodb+srv://ftyvfbgubhu7:hDZwwlNzlKBzls84@ameliamusicbot.f7dzw.mongodb.net/?retryWrites=true&w=majority&appName=AmeliaMusicbot
OWNER_ID=8431508171
STRING_SESSION=BQD7oMAAojxKz0YY8EyUZ9kqiaBfSIfSzz_QFE_BaYboGOmB7oWClmG8lqjr0tx9p0Xw2NdSXMXleaa5lUFIFn4r7tol6O_2HtzAe2D7Nb40qHMrtyDfy5LF-Dckpj2CgEGzAS4GsQFcGKgdCqaDu-mv032V1C7oHtOHvUSWRChrCNgqQ0M04qPFIih-ON1zLGVrV8Jo57wQXrvTZGhurwPAcGsr2YAkvQhpfTB2dLpTxfFcM9lqrZh_qg96iFIq9qSS36F-Np10kCJ7DEKehujUXIDTk1O5LGn0u2Askk4IffrJScRww3ux1BQLFo-y1hF8kLoumXVSLVIsYChpmEwkXSi4_wAAAAH788YDAA




